/*
* CSS style for html chunk output
*/

    /* titlepage */
    div.book .titlepage {
      padding-top: 100px; /* height of the splash image */
      background-image: url("./images/mindview-head.gif");
      background-repeat: no-repeat;
      background-position: top center;
    }

