/*
* common CSS style for html output
*/


/***********
* plain elements
*/

body
{
  font-family: sans-serif;
      padding: 0;
      margin: 0;

      color: #222;
      background: #fdfdfd;
}

p {
  display: block;

    text-align : justify;
    line-height: 142%;
    margin: 1em 0;

  margin: 0 0.5em 0.5em;
  text-indent: 1em;
}


/* para sin indentación */
li > p,
.toc p,
.legalnotice > p,
p.copyright, td > p,
.caption > p {
  text-indent: 0
}

dl {
    padding-top: 0;
}

dd {
  margin-bottom: 5px;
  margin-left: 20px;
}

hr {
  border: 0px;
  border-top: 1px dotted black;
  margin-top: 20px;
  padding-bottom: 10px;

  border-top: solid 1px;
}


a {
    color: #026;
    text-decoration: none;
}

a:hover,
a:visited {
    background: transparent;
    color: darkviolet;
}


title { margin: 0px; }


img {
    border: none;
}


ul {
    padding: 0 0 0 1.5em;
}

ul li {
    padding: 0;
}

ul li p {
    text-align: left;
}

table {
    width :100%;
}

th {
    padding: 0.25em;
    text-align: left;
    font-weight: normal;
    vertical-align: top;
}

td {
    padding: 0.25em;
    vertical-align: top;
}

p a[id],
p a[id]:hover,
p a[id]:visited {
    margin: 0;
    padding: 0;
    display: inline;
    background-image: none;
}

pre {
    overflow : auto;
}

sup {
    font-size: 9pt;
    vertical-align: 16%;
}

/************* /
/ decorations  /
/ *************/


    .subtitle {
        border: none;
    }

    .programlisting {
      border: solid 1px;
    }

    .figure,
    .table,
    .informalfigure,
    .informaltable,
    .informalexample,
    .example {
      border         : 1px solid;
    }

    .tip,
    .warning,
    .caution,
    .note {
      border    : 1px solid;
    }

    .tip table th,
    .warning table th,
    .caution table th,
    .note table th {
      border-bottom  : 1px solid;
    }

    .question td {
      border-top: 1px solid black;
    }

    .answer {
    }


    b.keycap,
    .keycap {
      border: 1px solid;
    }


    .navheader, .heading{
      border-bottom: 1px solid;
    }


    .navfooter, .footing{
      border-top: 1px solid;
    }

      /********* /
     /  colors  /
    / *********/


    .tip, .warning, .caution, .note {
      border-color    : #aaa;
    }


    .tip table th,
    .warning table th,
    .caution table th,
    .note table th {
      border-bottom-color: #aaa;
    }


    .warning {
      background-color: #fea;
    }

    .caution {
      background-color: #fea;
    }

    .tip {
      background-color: #eff;
    }

    .note {
      background-color: #dfc;
    }

    .glossary dl dt,
    .variablelist dl dt,
    .variablelist dl dt span.term {
      color: #044;
    }

    .figure,
    .table,
    .example,
    .informalfigure,
    .informaltable,
    .informalexample {
      border-color: #aaa;
    }

    pre.programlisting {
      color: black;
      background-color: #fff;
      border-color: #aaa;
    }

    .guimenu,
    .guilabel,
    .guisubmenu,
    .guimenuitem {
      background-color: #eee;
    }


    b.keycap,
    .keycap {
      background-color: #eee;
      border-color: #999;
    }


    .navheader {
      border-color: black;
    }


    .navfooter {
      border-color: black;
    }


      /*********** /
     /  graphics  /
    / ***********/

    /*
    body {
      background-image: url("images/body_bg.jpg");
      background-attachment: fixed;
    }

    .navheader,
    .note,
    .tip {
      background-image: url("images/note_bg.jpg");
      background-attachment: fixed;
    }

    .warning,
    .caution {
      background-image: url("images/warning_bg.jpg");
      background-attachment: fixed;
    }

    .figure,
    .informalfigure,
    .example,
    .informalexample,
    .table,
    .informaltable {
      background-image: url("images/figure_bg.jpg");
      background-attachment: fixed;
    }

    */

    .section .section .titlepage .title,
    .sect2 .titlepage .title {
        background: none;
    }



      /*************************************** /
     /  gimp-help-2 specific alterations      /
    / ***************************************/

    /* revhistory */
    .revhistory {
      margin-left: 0.5em;
    }

    .revhistory table {
      float: right;
      width: auto;
    }

    .revhistory table tr th,
    .revhistory table tr td {
      border: 0;
    }

    .revhistory table tr th,
    .revhistory table tr td {
      color: #aaa;
      font-size: small;
    }

      /**************************************** /
     / mozilla vendor specific css extensions  /
    / ****************************************/

    .figure,
    .table,
    .informalfigure,
    .informaltable,
    .informalexample,
    .example,
    .tip,
    .warning,
    .caution,
    .note {
      -moz-border-radius: 0.5em;
    }

    b.keycap,
    .keycap {
      -moz-border-radius: 0.3em;
    }


    /**** PEC++ ****/
    code.literal {
      text-weight: bold;
    }

    pre.screen {
      color: black;
      background-color: #ccc;

      padding: 0.75em 1.5em;
      border: 1px solid #999;
      white-space: pre;
    }

    .table {
      border: 0;
      align: center;
    }

    .table table {
      width: auto;
      border-collapse: collapse;
      margin: auto;
    }

    .table p.title {
      font-size: 90%;
    }

    .table thead th {
       color: white;
       background-color: black;
       text-align: center;
       font-weight: bold;
    }

    .table td {
       padding: 3px 8px;
    }


/**************
* docbook clases
*/

.toc {
  padding: 0px 10px;
}

.toc a {
  margin-left: 5px;
  margin-bottom: 5px;
}

.sect1 {
  margin-left: 20px;
  margin-top: 20px;
}

.sect2 {
    margin-top: 10px;
}

.warning, .caution, .tip, .note {
  max-width: 40em;
  padding: 0 0 0 10px;
}

.warning {
  border: 1px solid darkred;
  background-color: #ff9999;
}

.caution {
  border: 1px solid #827206;
  background-color: #ffdd00;
}

.tip {
  border: 1px solid darkblue;
  background-color: #c3d4de;
}

.note {
    border: 1px solid darkgreen;
    background-color: #b0e1a9;
}

.guilabel, .guimenu, .guisubmenu, .guimenuitem {
  background-color: #eeeee6;
  padding: 2px;
}

b.keycap, .keycap {
  background-color: #eeeee6;
  padding: 1px 5px;
  border: 1px solid #999999;
  margin: 0;
}

.acronym { text-transform: uppercase; }

.accel { text-decoration: underline; }

    .book,
    .part,
    .chapter,
    .preface,
    .section,
    .sect1,
    .sect2,
    .sect3,
    .simplesect,
    .glossary,
    .bibliography,
    .reference,
    .refentry,
    .appendix,
    .index {
        max-width: 45em;
        min-width: 34em;
        width: 45em;
        margin: 0 auto;
        margin-bottom: 2em;
    }

    .authorgroup {
      float: right;
    }

    h3.author {
      margin: 0;
      padding: 0;
      font-weight: normal;
    }

    .author tt.email {
      font-size: 66%;
    }

    .titlepage hr {
      width: 100%;
      clear: both;
    }

    .toc,
    .list-of-tables,
    .list-of-examples,
    .list-of-figures {
      padding: 1.33em 0 2.5em 0em;
    }

    .toc p,
    .list-of-tables p,
    .list-of-figures p,
    .list-of-examples p {
      padding: 0 0em 0.3em;
      margin: 1.5em 0 0 0;
    }

    .toc dl,
    .list-of-tables dl,
    .list-of-figures dl,
    .list-of-examples dl {
      margin: 0 0 0.5em 20px;
      padding: 0;
    }

    .toc dt {
      margin: 0;
      padding: 0;
    }

    .toc dd {
      margin: 0 0em 0em 1.6em;
      padding: 0;
    }

    .glossary dl,
    .variablelist dl {
    }

    .glossary dl dt,
    .variablelist dl dt span.term {
      font-weight: normal;
    }

    .glossary dl dd,
    .variablelist dl dd {
      margin-left: 2.6em;
    }

    .glossary dd p,
    .variablelist dd p {
      margin-top: 0;
      margin-bottom: 1em;
    }

    .calloutlist table {
      margin-top: 1em;
    }

    .calloutlist table td {
      padding: 0;
      margin: 0;
    }

    .calloutlist table td p {
      margin-top: 0;
      margin-bottom: 1em;
    }

    .calloutlist table td img {
      margin-left: 2em;
    }

    p.copyright {
      text-align: left;
    }

    .legalnotice p.legalnotice-title {
      margin-bottom: 0;
    }

    .mediaobject,
    .mediaobjectco,
    .navheader table th#chaptername,
    .navheader table th#sectionname {
      text-align: center;
    }

    .mediaobject img,
    .mediaobjectco img{
      max-width: 36em;
      margin: 20px 0;
    }

    /*
     *align two mediaobjects in a figure besides each other
     */
    .figure .mediaobject {
      display: table-cell;
      padding: 0.5em;
    }

    .informalfigure,
    .informalexample,
    .informaltable,
    .figure,
    .table,
    .example {
      margin: 1em 0;
      padding: 1em;
      page-break-inside: avoid;
    }


    .informalfigure p.title b,
    .informalexample p.title b,
    .informaltable p.title b,
    .figure p.title b,
    .example p.title b,
    .table p.title b{
        padding-top: 0;
        margin-top: 0;
        font-weight: normal;
    }

    .mediaobject .caption,
    .mediaobject .caption p  {
      text-align: left;
      padding-top: 0.5em;
      padding-bottom: 0.5em;
    }

    .epigraph {
      padding-left: 55%;
      margin-bottom: 1em;
    }

    .epigraph p {
      text-align: left;
    }

    .epigraph .quote {
      font-style: italic;
    }
    .epigraph .attribution {
      font-style: normal;
      text-align: right;
    }

    span.application {
      font-style: italic;
    }

    .programlisting {
/*      font-family: monospace; */
      font-size: 100%;
      white-space: pre;
      margin: 1.33em 0;
      padding: 1.33em;
    }

    .tip,
    .warning,
    .caution,
    .note {
      margin-top: 1em;
      margin-bottom: 1em;

    }

    /* force full width of table within div */
    .tip table,
    .warning table,
    .caution table,
    .note table {
      border: none;
      width: 100%;
    }


    .tip table th,
    .warning table th,
    .caution table th,
    .note table th {
      padding: 0.8em 0.0 0.0em 0.0em;
      margin : 0;
    }

    .tip p,
    .warning p,
    .caution p,
    .note p {
      margin-top: 0.5em;
      margin-bottom: 0.5em;
      padding-right: 1em;
      text-align: left;
    }

    .acronym {
      text-transform: uppercase;
    }

    b.keycap,
    .keycap {
      padding: 0.09em 0.3em;
      margin: 0;
    }

    .itemizedlist li {
      clear: none;
    }

    .filename {
      font-size: medium;
      font-family: Courier, monospace;
    }


    .navheader, .heading{
      background-color: #e3cc63;
      width: 100%;
    }

    .navfooter, .footing{
      background-color: #e3cc63;
      width: 100%;
    }


    .navheader table th {
      font-size: 80%;
    }

    .navheader table {
      border-left: 0;
      border-right: 0;
      border-top: 0;
      width: 100%;
    }

    .navfooter table {
      border-left: 0;
      border-right: 0;
      border-bottom: 0;
      width: 100%;
      border-collapse: collapse;
      border-spacing: 0px;
    }

    .navheader table td a,
    .navfooter table td a {
      color: #333;
      text-decoration: none;
    }

    /* normal text in the footer */
    .navfooter table td {
      color: black;
    }

    /* pec */
    .navfooter table td img {
      vertical-align: bottom;
    }

    td.navititle {
      vertical-align: middle;
    }
    /* FIN pec++ */


    .navheader table td a:visited,
    .navfooter table td a:visited {
      color: #555;
    }


    /* links in header and footer */
    .navheader table td a:hover,
    .navfooter table td a:hover {
      text-decoration: underline;
      background-color: transparent;
      color: #33a;
    }

    .navheader hr,
    .navfooter hr {
      display: none;
    }


    .qandaset tr.question td p {
      margin: 0 0 1em 0;
      padding: 0;
    }

    .qandaset tr.answer td p {
      margin: 0 0 1em 0;
      padding: 0;
    }
    .answer td {
      padding-bottom: 1.5em;
    }

    .emphasis {
      text-weight: bold;
    }


.footnote p {
    line-height: normal;
    margin: 10px 0;
    text-align: left;
}


/**************
* Tamaños de los títulos
*/

/*
.preface .titlepage .title,
.colophon .title,
.chapter .titlepage .title {
*/


h2, h3 {
    font-weight: normal;
}

.chapter h2,
.preface h2 {
    font-size: 25pt;
    font-weight: normal;
}

.sect1 h2 {
    border-bottom: solid 0.06em;
    font-size: 18pt;
}

.sect2 h3 {
    font-size: 14pt;
}

h2.subtitle {
    padding: 0;
    font-weight: normal;
    font-style: italic;
    text-align: right;
}


/*
    h1,h2,h3,h4,h5,h6,h7 {
      clear: both;
    }


    h2 {
      margin: 2em 0 0.66em 0em;
      padding: 0.5em 0 0em 0em;
      font-size: 142.14%;
      font-weight: normal;
    }

    h3.subtitle {
      margin: 0 0em 1em 0em;
      padding: 0;
      font-size: 142.14%;
      font-weight: normal;
      text-align : right;
    }

    h3 {
      margin: 1em 0 0.5em 0em;
      padding: 1em 0 0em 0em;
      font-size: 140%;
      font-weight: normal;
    }

    h4 {
      margin: 1em 0 0.5em 0em;
      padding: 1em 0 0em 0em;
      font-size: 120%;
      font-weight: normal;
    }

    h5 {
      margin: 1em 0 0.5em 0em;
      padding: 1em 0 0em 0em;
      font-size: 110.000%;
      border-bottom: 1px solid black;
    }

    h6 {
      margin: 1em 0 0em 0em;
      padding: 1em 0 0em 0em;
      font-size: 80%;
      font-weight: normal;
    }
*/

/*
h1, h2 {
  font-size: x-large;
}

h3, h4, h5, p.title {
  font-weight: bold;
  border-bottom: 1px solid black;
  letter-spacing: 2px;
  margin-top: 30px;
  font-size: medium;
  text-decoration: none;
}

h3, h4 {
  border: 0;
  letter-spacing: normal;
}
*/


/*
    h1 {
      border: none;
    }

    h3 {
      border-top: 0;
      border-bottom: solid 0.06em;
    }

    h4 {
      border: 0;
      border-bottom: solid 0.06em;
    }

    h5 {
      border: 0;
    }
*/


/*********
* custom classes
*/

.highlights p {
    font-size: 95%;
    font-weight: bold;
}
